<div class="text-center">
<br />
<h2>Search For an Item</h2>
<br />
<form asp-action="SearchResults">
    <div class="form-group">
        <input name="searchTerm" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
</div>
