@model IEnumerable<SkiShop.Models.InventoryModel>


<div class="container d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div id="card-number-@item.Id">
            <partial name="InventoryCard" model="item" />
        </div>
    }
    </div>
