@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome To The Ski Shop Inventory Manager</h1>
    <br />
    <br />
    <div class="btn-group">
        <button class="btn btn-primary"><a href="/inventory" style="text-decoration:none" class="text-light">View Inventory</a></button>
    </div>
</div>
