@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Ski Shop Inventory Manager</h1>
    <br />
    <br />
    <div class="btn-group">
        <button><a href="">View Inventory</a></button>
    </div>
</div>
